@model List<CIT_Web.Models.Dto.TaskGrouping.TaskGroupRequestDTO>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* 
<div class="container mt-3">
    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-color me-4" data-bs-toggle="modal" data-bs-target="#assignModal">Vehicle Selection</button>
        <button class="btn btn-color">Shuffle</button>
    </div>
    <div class="" style="overflow-x:auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Task Id</th>
                    
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var task in Model)
                {
                    <tr>
                        <td>@task.TaskId</td>
                        <td>@task.GroupName</td>
                    
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="3" class="text-center">No data available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> *@