@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <div class="tab-container mt-3 ms-2" style="width: 100%">


    <div class="dashboard-tab-content" id="myTabContent">
    
        <div class="col-auto  py-1 ms-2 mt-2">
            <div class="table-container" style="overflow-x:auto; margin-right: 16px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Destination Address</th>
                            <th>Recipient</th>
                            <th>Description</th>
                            <th>Driver</th>
                            <th>Before Time</th>
                            <th>Created Time</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Kingford NSW, Australia</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td class="icon-cell"><i class="bi bi-person"></i></td>
                            <td>Mar 18 10:50 AM</td>
                            <td>Mar 17 07:51 PM</td>
                            <td>Unassigned</td>
                            <td><i class="bi bi-pencil"></i></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div> *@




